{% extends 'admin/change_list.html' %}
{% load i18n %}
{% load admin_urls %}
{% load static %}


{% block object-tools %}
<ul class="object-tools">
    <li>
        <a class="addlink" href="/admin/donation/donation/import-csv/"
           style="margin-right: 130px; background-image: url('/media/img/upload.png');
           background-position: right 10px center; background-repeat: no-repeat; background-size: 10px;">
            <span>{{ _('Upload CSV') }}</span>
        </a>
    <li>
</ul>
{{ block.super }}
{% endblock %}